:host /deep/ {
  .PROMPT1 {
    -fontweight: bold;
    color: yellow;
  }
}

.webCli,
.webCli-input {
  font: 20px/20px 'Lucida Console', 'Consolas', 'Courier New' !important;
}

body {
  background-color: #f00 !important;
}
.webCli {
  background: rgba(0, 0, 0, 0.85);
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  // padding: 5px;
  padding: 0;
  margin: 0;
  border: solid 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 3px #000, 0 0 8px #000 inset;
  overflow: auto;
  outline: none;
}

.webCli-input {
  display: inline-block;
  background: transparent;
  border: none;
  color: #8ae234;
  margin: 0;
  padding: 0;
  outline: none; /* Chrome */
}

:host /deep/ {
  .webCli-span {
    //display: block;
    color: #8ae234;
    margin: 0;
    padding: 0;
    outline: none; /* Chrome */
  }
}

:host /deep/ {
  .webCli-cmd {
    color: #aaa;
  }
  .webCli-error {
    color: white;
  }
  .webCli-red {
    color: #ff0089;
  }
  .webCli-ok {
    color: #0ff;
  }
  .webCli-version {
    color: #ff4081;
  }
}

/* another blinky cursor to try if mine doesnt fix. */

:host /deep/ {
  .cursor {
    width: 0px;
  }
  .cursor::after {
    content: '';
    position: relative;
    top: 0;
    right: 0px;
    /* Remove display: inline-block if not required to be on the same line as text etc */
    display: inline-block;
    background-color: rgba(29, 245, 17, 0.5);
    vertical-align: top;
    width: 11px;
    /* Set height to the line height of .text */
    height: 18px;
    /*
  Animation paramaters:
  blink = animation-name,
  1s = animation-duration,
  step-end = animation-timing-function,
  infinite = animation-iteration-count
  */
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
  }

  @-webkit-keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
